{% extends "admin/drinks/base.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div>
            <h2>{% trans "Are you sure?" %}</h2>
            <p>{% trans "Are you sure you want to delete this item?" %}</p>
            
            <div class="submit-row">
                {% if has_delete_permission %}
                    <input type="submit" value="{% trans 'Yes, I'm sure' %}" class="default deletelink" name="_delete">
                {% endif %}
                <a href="{{ cancel_url }}" class="button">{% trans "No, take me back" %}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %} 